pip install -U flask==1.1.1
pip install lexnlp
pip install flask_uploads
pip install -U Werkzeug==0.16.0
pip install -U spacy
python -m spacy download en_core_web_sm
pip install -U gensim==3.8.3
pip install sumy